.form__label {
  font-weight: bold;
  font-size: 0.9rem;
  margin-bottom: 0.3rem;
}
.form__input {
  padding: 0.3rem;
  width: 250px;
  margin-bottom: 1.5rem;
  font-weight: 500;
  font-size: 0.9rem;
}

.form__control {
  display: flex;
  flex-direction: column;
}
