.form__control {
  display: flex;
  flex-direction: column;
}

.form__label {
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
  letter-spacing: 0.5px;
}
.form__input {
  padding: 0.4rem 0.5rem;
  width: 300px;
  margin-bottom: 1.5rem;

  font-size: 1.2rem;
  color: gray;
}
